
.h1 {
    text-align:center;
}
.h2 {
    text-align:center;
}
.img_left {
    width: 50%;
    max-width: 300px;
    height:auto;
    float:left;
    margin-left:10px;
    margin-bottom:5px;
    border:solid black 1px;
    padding:2px;
}
.img_right {
    width: 50%;
    max-width: 300px;
    height:auto;
    float:right;
    margin-right:10px;
    margin-bottom:5px;
    border:solid black 1px;
    padding:2px;
}
.content{
    margin-top: 100px;
}
.p_left {
    font-size:25px;
    margin-left:80px;
}
.center{
    text-align: center;
}
.p_right{
    font-size:25px;
    margin-right:80px;
}


